body {
  padding: 50px;
  background: white;
  font-family: "Nunito", sans-serif;
}
li {
  text-transform: capitalize;
}
.container {
  background-image: linear-gradient(to top, #ffffff 20%, #fff8ef 100%);
  border-radius: 20px;
  border-style: solid;
  border-color: rgb(207, 19, 151);
  padding-top: 30px;
  top: 50px;
  max-width: 650px;
}
i {
  font-size: 50px;
  color: rgb(255, 161, 227);
}
input {
  border-radius: 10px;
  border-style: none;
}
.searchButton {
  background-color: #6b5de9;
  opacity: 80%;
  color: white;
  border-radius: 12px;
  border-style: none;
}
#current-button {
  border-radius: 50%;
  padding: 15px;
  padding-right: 19px;
  background-color: white;
  border-color: rgb(207, 19, 151);
}
.currentWeatherInfo {
  list-style: none;
}
section {
  padding: 25px;
}
.cityHeader {
  font-size: 20px;
}
.weatherToday {
  list-style: none;
  font-weight: bold;
  padding: 30px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  border-style: none;
  border-radius: 20px;
}
.weatherToday .currentCity {
  font-size: 25px;
}
.weatherWeekly {
  display: block;
  text-align: center;
  width: 100%;
}
.row .col-3 {
  border-radius: 15px;
}
