body {
  padding: 50px;
  background: white;
  font-family: "Nunito", sans-serif;
}
li {
  text-transform: capitalize;
}
.container {
  background-image: url("https://images.unsplash.com/photo-1597242051386-c0a24ceae025?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80");
  border-radius: 20px;
  border-style: solid;
  border-color: #bb83f0;
  padding-top: 30px;
  top: 50px;
  max-width: 650px;
}
i {
  font-size: 50px;
  color: rgb(255, 161, 227);
}
input {
  border-radius: 10px;
  border-style: none;
}
.searchButton {
  background-color: #6b5de9;
  opacity: 80%;
  color: white;
  border-radius: 12px;
  border-style: none;
}
#current-button {
  padding-top: 5px;
  background-color: white;
  border-style: none;
  border-radius: 30px;
  text-align: center;
}
#icon-map-marker {
  color: #8977ea;
  font-size: 20px;
}
.currentWeatherInfo {
  list-style: none;
  line-height: 2;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  border-radius: 100% 0% 100% 0% / 90% 93% 100% 100%;
  background-color: rgb(228, 192, 245);
  opacity: 75%;
}
section {
  padding: 25px;
}
.cityHeader {
  font-size: 30px;
  text-align: center;
}
.weatherStats {
  font-size: 24px;
  text-align: left;
}
#today-title {
  font-size: 30px;
}
.weatherToday {
  list-style: none;
  font-weight: bold;
  line-height: 2;
  height: 300px;
  padding: 30px;
  padding-top: 35px;
  padding-bottom: 45px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  border-style: none;
  border-radius: 1% 100% 0% 86% / 0% 100% 87% 100%;
  background-color: #a89deb;
  opacity: 70%;
}

.weatherWeekly {
  margin: 0 auto;
  text-align: center;
}
.col-2 {
  position: relative;
  transition: all 200ms ease-in-out;
  padding: 5px 5px 5px;
}
.col-2:hover {
  background: rgb(218, 187, 215);
  border-radius: 30px;
}

p.codeCredit {
  margin: 0 auto;
  max-width: 650px;
  text-align: center;
}
#gitLink {
  color: white;
}
